 

.notion-site-bookmark .notion-site-bookmark-p {
    margin: 0 !important;
    padding: 0 !important;
}
 

.notion-site-bookmark audio,canvas,embed,iframe,img,object,svg,video {
    display: block;
    vertical-align: middle
}

.notion-site-bookmark img,video {
    max-width: 100%;
    height: 100% !important;
    margin: 0px  !important;
    margin-top: 0px  !important;
    margin-right: 0px  !important;
    margin-bottom: 0px  !important;
    margin-left: 0px  !important;
}

.notion-site-bookmark [hidden] {
    display: none
}

.notion-site-bookmark *,:after,:before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246/0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.notion-site-bookmark .m-auto {
    margin: auto
}

.notion-site-bookmark .ml-2 {
    margin-left: .5rem
}

.notion-site-bookmark .flex {
    display: flex
}

.notion-site-bookmark .hidden {
    display: none
}

.notion-site-bookmark .h-40 {
    height: 12rem
}

.notion-site-bookmark .h-12 {
    height: 3rem
}

.notion-site-bookmark .h-6 {
    height: 1.5rem
}

.notion-site-bookmark .h-full {
    height: 100%
}

.notion-site-bookmark .h-screen {
    height: 100vh
}

.notion-site-bookmark .h-4 {
    height: 1rem
}

.notion-site-bookmark .w-3\/5 {
    width: 60%
}

.notion-site-bookmark .w-full {
    width: 100%
}

.notion-site-bookmark .w-2\/5 {
    width: 40%
}

.notion-site-bookmark .max-w-screen-md {
    max-width: 768px
}

.notion-site-bookmark .flex-col {
    flex-direction: column
}

.notion-site-bookmark .items-center {
    align-items: center
}

.notion-site-bookmark .justify-between {
    justify-content: space-between
}

.notion-site-bookmark .overflow-hidden {
    overflow: hidden
}

.notion-site-bookmark .overflow-y-scroll {
    overflow-y: scroll
}

.notion-site-bookmark .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.notion-site-bookmark .rounded {
    border-radius: .25rem
}

.notion-site-bookmark .border {
    border-width: 1px
}

.notion-site-bookmark .border-solid {
    border-style: solid
}

.notion-site-bookmark .border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175/var(--tw-border-opacity))
}

.notion-site-bookmark .object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.notion-site-bookmark .p-5 {
    padding: 1.25rem
}

.notion-site-bookmark .p-12 {
    padding: 3rem
}

.notion-site-bookmark .p-4 {
    padding: 1rem
}

.notion-site-bookmark .text-center {
    text-align: center
}

.notion-site-bookmark .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.notion-site-bookmark .text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.notion-site-bookmark .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.notion-site-bookmark .font-bold {
    font-weight: 700
}

.notion-site-bookmark .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.notion-site-bookmark .filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.notion-site-bookmark .hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}